#chat {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 15fr 1fr;
    grid-template-areas: 
        "f c"
        "f i";
}

#friends {
    grid-area: f;
    display: grid;
     background-color: purple;
    left: 10px;
    height: 100%;
}
body {
        font-family: 'lora', sans-serif;
        margin: 0;
        padding: 0;
      }
#chatbox {
    grid-area: c;
    display: grid;
    background-color: lightblue;
    grid-template-columns: auto;
}

#input {
    grid-area: i;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

/* .textinput{
    width:70%;
   padding: 10px;
  
} */

.input{
   grid-template-columns: 10fr 2fr;
   grid-area: i;
   display: grid;
   padding-top: -15px;

}
.send-btn{
display: grid;
align-content: center;
justify-content: center;
background-color: blueviolet;
color: wheat;
}


.frinds-name {
    background-color: rgb(122, 86, 115);
    height: 4vh;
    width: 290px;
        justify-self: center; /* Align to the right */

   
    
}

.text-container.left {
    background-color: gray;
    margin: 4px;
    padding: 8px;
    font-size: 14px;
}

.text-container.right {
    background-color: green;
    margin: 4px;
    padding: 8px;
    font-size: 14px;
    justify-self: end; 
}

.time {
        font-size: 12px;
        color: #000;
        margin-top: 1px;
        text-align: right;
        margin: 5px;
      }

    .text-container {
        margin: 8px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "m m t";
        align-items: end;
        margin-top: 7vh;
        height: fit-content;
        padding-left: 5px;
        padding-right: 5px;
        width: fit-content;
    }
